@model IEnumerable<SignUp.Models.SignUp>

@{
  ViewBag.Title = "Index";
}

<link href="@Url.Content("~/Content/Site.css")" type="text/css" rel="stylesheet"/>

<h2>Existing Users</h2>

<p>
  @Html.ActionLink("Create New", "Create")
</p>
<table class="gridTable">
  <tr>
    <th>
      <input type="text" name="UserName">
    </th>

    <th>
      <input type="text" name="FirstName">
    </th>

    <th>
      <input type="text" name="LastName">
    </th>

    <th>
      <input type="text" name="EmailAddress">
    </th>

    <th>
      <input type="submit" name="btnSearch" value="Search">
    </th>

  </tr>

  <tr>
    <th>
      @Html.DisplayNameFor(model => model.UserName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.FirstName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.LastName)
    </th>
    <th>
      @Html.DisplayNameFor(model => model.EmailAdress)
    </th>
    <th>User Management</th>
  </tr>

  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.UserName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.FirstName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.LastName)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.EmailAdress)
      </td>
      <td align="center">
        
        <a href = "Edit?Id=item.Id"><img src="@Url.Content("~/Content/vcard_edit.png")" title="Edit User"/></a>
        <a href = Details id="2" ><img src="@Url.Content("~/Content/leaf.gif")" title="Details"/></a>
        <a href = Delete><img src="@Url.Content("~/Content/close.png")" title="Delete User"/></a>
       
        @*@Html.ActionLink("Edit User", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete User", "Delete", new { id = item.Id })*@
      </td>
    </tr>
  }
</table>
